
{% extends 'myapp/base.html' %}
{% block title %} Register Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
<div class="container">
    <div class="col-md-6 offset-md-3">
<br>
    <div class="border bg-white p-3">
      <h4>Add Products</h4>
      <hr>
      <form method="POST">
          {% csrf_token %}
          {{form|crispy}}
          <input class="btn btn-success btn-block" type="submit" value="Add Product">
      </form>
  </div>
</div>
</div>
</div>
{% endblock %}